<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-filter">
    <div *ngIf="onFilters">
      <div class="card-filter-itens" (click)="getByPendentes()">
        <div class="icon-and-text">
          <img class="card-filter-icon" src="../../../../assets/icon/soup.svg" />
          <div class="text">
            <h1>Pendentes</h1>
            <p>Pedidos feitos ou em preparação</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-filter-itens" (click)="getByACaminho()">
        <div class="icon-and-text">
          <img class="card-filter-icon" src="../../../../assets/icon/bike.svg" />
          <div class="text">
            <h1>À Caminho</h1>
            <p>Pedidos que já sairam para entrega</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-filter-itens" (click)="getByEntregues()">
        <div class="icon-and-text">
          <img class="card-filter-icon" src="../../../../assets/icon/correct.svg" />
          <div class="text">
            <h1>Entregues</h1>
            <p>Pedidos que já foram Entregues</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-filter-itens" (click)="getPedidosCancelados()">
        <div class="icon-and-text">
          <img class="card-filter-icon" src="../../../../assets/icon/cancel.svg" />
          <div class="text">
            <h1>Cancelados</h1>
            <p>Pedidos que foram cancelados</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <div class="card-filter-button-area">
      <img *ngIf="onFilters" (click)="showFilters()" class="card-filter-icon-show"
        src="../../../../assets/icon/move_up.svg" />
      <img *ngIf="!onFilters" (click)="showFilters()" class="card-filter-icon-show"
        src="../../../../assets/icon/move_down.svg" />

    </div>
  </div>

  <div class="body">

    <div id="title">
      <h3>Novos Pedidos</h3>
    </div>

    <!-- Product Card -->
    <div class="card" *ngFor="let pedido of pedidos">
      <img class="card-image" [src]="pedido.pacote.foto.fotoUrl" alt="Product Image">
      <div class="card-content">
        <div class="card-title">
          {{pedido.pacote.nmPacote}}
          <div class="card-price">
            {{utilsService.priceToString(pedido.frete + pedido.pacote.preco)}}
          </div>
        </div> 
        <p class="card-paragraph"><fa-icon icon="circle-user"></fa-icon> {{ pedido.nmCliente}}</p>
        <p class="card-paragraph"><fa-icon icon="location-dot"></fa-icon> {{ utilsService.getPedidoEndereco(pedido)}}
        </p>
        <p class="card-paragraph"><fa-icon icon="dollar-sign"></fa-icon> {{
          utilsService.getPedidoFormaPagamento(pedido)}}</p>
        <div class="card-buttons">
          <button class="card-button cancel-button" [disabled]="pedido.cancelado"
            (click)="cancelar(pedido.idPedido)" *ngIf="canCancel(pedido)">CANCELAR</button>
          <button class="card-button buy-button" (click)="aceitar(pedido.idPedido)" *ngIf="canAccept(pedido)">ACEITAR</button>
          <button [routerLink]="['/empresa/detalhes-pedido', pedido.idPedido]" class="card-button-view">
            <fa-icon icon="chevron-right"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
   
</ion-content>


<!-- <ion-footer>
  <ion-toolbar>
    <div class="container-toolbar-bottom">
      <a class="item-toolbar-buttom" href="home">
        <fa-icon class="custom-icon" icon="home"></fa-icon>
        <p>Home</p>
      </a>
      <a class="active-item-toolbar-buttom" href="pedidos">
        <fa-icon class="custom-icon" icon="list"></fa-icon>
        <p>Pedidos</p>
      </a>
      <a class="item-toolbar-buttom">
        <fa-icon class="custom-icon" icon="bag-shopping"></fa-icon>
        <p>Pacotes</p>
      </a>
      <a class="item-toolbar-buttom">
        <fa-icon class="custom-icon" icon="shop"></fa-icon>
        <p>Conta</p>
      </a>
    </div>
  </ion-toolbar>
</ion-footer> -->