/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --laranjaLogo: #EA852F;
  --amareloClaro: #FFC94D;
  --brancoFundo: #FFF8F2;
  --marromTerroso: #B7632D;
  --verdePastel: #B7632D;
  --azulPastel: #4A90A4;
  --vermelhoDisabled: #BF8D87;
  --cinzaDisabled: #9098B1;
  --preto: #000000;
  --pretoDisabled: #443D3D;
  --vermelhoTerroso: #C0392B;
  --marromPastel: #9C6745;
  --verdeSucesso:#3D8A45;
  --brancoDisable:#E8EAEC;
}

  .custom-toolbar-top{
    color: var(--laranjaLogo);
    height: 100%;
    font-size: 20px;
    text-align: center;
  }

  .body{
    margin: 0;
    padding-top: 4vh;
    background-color: var(--brancoFundo);
    width: 100%;
    min-height: 100%;
    padding-bottom: 4vh;
  }

  a{
    text-decoration: none;
  }

