<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Detalhes do Pedido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cliente/pedidos" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="body" *ngIf="pedido != null">
  <img id="top-image" [src]="pedido.pacote.foto.fotoUrl" alt="Product Image">
  <div class="custom-card">
    <p id="title">{{pedido.pacote.nmPacote}}</p>
    <ion-row class="space-between">
      <p>Valor do Pacote</p>
      <div class="line"></div>
      <p class="price">{{utilsService.priceToString(pedido.pacote.preco)}}</p>
    </ion-row>
    <ion-row class="space-between">
      <p>Frete</p>
      <div class="line"></div>
      <p class="price">{{utilsService.priceToString(pedido.frete)}}</p>
    </ion-row>
    <ion-row class="space-between">
      <p>Valor Total</p>
      <div class="line"></div>
      <p class="price total">{{utilsService.priceToString(pedido.frete + pedido.pacote.preco)}}</p>
    </ion-row>
    <br />
    <div id="info">
      <p> <img class="custom-icon" src="../../../../../assets/icon/empresaLogo.svg"> {{pedido.pacote.nmEmpresa}}</p>
      <p><fa-icon icon="location-dot"></fa-icon>{{utilsService.getPedidoEndereco(pedido)}}</p>
      <p><fa-icon icon="dollar-sign"></fa-icon> {{utilsService.getPedidoFormaPagamento(pedido)}}</p>
    </div>
    <div id="area-progress-bar">
      <div class="progress-bar">
        <div class="progress-point" [ngClass]="{ 'active': pedido.status >= 0 }">
          <span class="bottom-text">feito</span>
        </div>
        <div class="progress-line" [ngClass]="{ 'active': pedido.status >= 1 }"></div>
        <div class="progress-point" [ngClass]="{ 'active': pedido.status >= 1 }">
          <span class="top-text">preparação</span>
        </div>
        <div class="progress-line" [ngClass]="{ 'active': pedido.status >= 2 }"></div>
        <div class="progress-point" [ngClass]="{ 'active': pedido.status >= 2 }">
          <span class="bottom-text">à caminho</span>
        </div>
        <div class="progress-line" [ngClass]="{ 'active': pedido.status >= 3 }"></div>
        <div class="progress-point" [ngClass]="{ 'active': pedido.status >= 3 }">
          <span class="top-text">entregue</span>
        </div>
        <div class="progress-line" [ngClass]="{ 'active': pedido.status >= 4 }"></div>
        <div class="progress-point" [ngClass]="{ 'active': pedido.status >= 4 }">
          <span class="bottom-text">confirmado</span>
        </div>
      </div>
    </div>

    <div class="custom-buttom">
      <ion-button [disabled]="pedido.cancelado" (click)="cancelar()">CANCELAR</ion-button>
    </div>

    <p class="sub-title">Produtos</p>
    <div class="product-card" *ngFor="let produto of pedido.pacote.produtos">
      <div class="card-title">
        <h1>{{produto.nmProduto}}</h1>
      </div>
      <p>{{produto.descricao}}</p>
      <h3>{{produto.dtValidade}}</h3>
    </div>
    <p class="sub-title">Observação</p>
    <p class="description">{{pedido.observacao}}</p>

  </div>
</div>