<div class="body">
  <div class="area-logo">
    <img class="logo" src="../../../../assets/imgs/logo.png" />
  </div>

  <div class="title">
    <h1>Para começar, selecione uma opção</h1>
  </div>
  <div class="area-cards">
    <a class="card-custom" href="empresa/home">
      <img src="../../../../assets/icon/shop.svg" alt="Ícone Empresa" class="card-icon">
      <h3>Sou empresa</h3>
    </a>

    <a class="card-custom" href="cliente/login"> <img src="../../../../assets/icon/user.svg" alt="Ícone Cliente"
        class="card-icon">
      <h3>Sou cliente</h3>
    </a>
  </div>
</div>