<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Pacotes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="body">
    <div id="title">
      <h3>Pacotes</h3>
      <a routerLink="/empresa/novo-pacote" >
        <img src="../../../../assets/icon/add.svg" alt="Ícone Add" id="icon-add" />

      </a>
    </div>

    <div class="card" *ngFor="let pacote of pacotes; index as i">
      <img class="card-image" src="../../../../assets/imgs/fotoPacote.png" alt="Product Image">
      <div class="card-content">
        <div class="card-title">
       {{   pacote.nmPacote}}
          <div class="card-delete">
            <fa-icon class="custom-icon" (click)="deletar(pacote.idPacote)" icon="trash-can"></fa-icon>
          </div>
        </div>
        <p class="card-paragraph"> {{nmProdutosToString(i)}}</p>
        <div class="card-bottom">
          <p class="card-price">R${{pacote.preco}}</p>
          <button [routerLink]="['/empresa/editar-pacote/', pacote.idPacote]" class="card-button-view">  <fa-icon icon="chevron-right"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

