<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Conta</ion-title>
  </ion-toolbar>
</ion-header>

  <div class="body">
    <div class="card-profile">
      <div class="photo">
        <img src="../../../../assets/imgs/userProfile.png" alt="Foto do perfil">
      </div>
      <div class="info">
        <h2>{{cliente.nmCliente}}</h2>
        <p>{{cliente.email}}</p>
      </div>
      <a routerLink="/cliente/meus-dados">
        <img class="icon-container" src="../../../../assets/icon/pencil.svg" name="settings-outline" />
      </a>
    </div>


    <div class="card-edit">
      <div class="info">
        <h1>Endereços</h1>
      </div>
      <a routerLink="/cliente/endereco">
        <img class="icon-container" src="../../../../assets/icon/pencil.svg" name="settings-outline" />
      </a>
    </div>


    <div class="card-logout">
      <div class="info">
        <h1>Sair</h1>
      </div>
      <ion-icon (click)="logout()" name="log-out-outline" class="icon-logout"></ion-icon>
    </div>

  </div>
