<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <div>
      <ion-card>
        <ion-card-header>
          <img src="../../../../assets/imgs/userProfile.png"  width="100px" height="100px" />
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
