#custom-banner {
    width: 100vw;
    max-width: 400px;
    max-height: 200px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.card {
    background-color: white;
    width: 100vw;
    max-width: 400px;
    position: relative;
    top: -10px;
    min-height: calc(100vh - 170px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

.container-toolbar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    min-height: 22vh;
    max-height: 300px;
    background-color: #F1E9E9;
}

.area-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.area-button ion-button {
    --background: var(--verdeSucesso);
    --background-hover: var(--verdePastel);
    --background-activated: var(--verdePastel);
    --background-focused: var(--verdePastel);
    --color: #ffffff;
    --border-radius: 5px;
    width: 70%;
    max-width: 400px;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

h3 {
    font-weight: bold;
    font-size: 16px;
}

#add-icon {
    color: black;
    font-size: 28px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
}


.dotted-line {
    flex-grow: 1;
    border-bottom: 1px dotted #000;
    margin-left: 5px;
    margin-right: 5px;
}

.price {
    font-weight: bold;
}

.price.total {
    color: var(--amareloClaro);
}

select {
    border: 1px solid #8d8787e0;
    width: 90vw;
    max-width: 400px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #8d8787e0;
}

label {
    font-weight: bold;
    font-size: 16px;
}

textarea {
    border: 1px solid #8d8787e0;
    border-radius: 15px;
    width: 90vw;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    min-height: 75px;
    color: #8d8787e0;
}

.info {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 20px;
    font-family: 'Inter', Arial, sans-serif;
}

.info h1 {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.info h3 {
    margin: 3px 0;
    font-size: 14px;
    font-weight: 300;
}

.card-edit {
    max-width: 400px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: row;
    margin-left: -5vw;
    margin-right: -5vw;
    margin-bottom: 3vh;
    border-bottom: 1px solid #8d8787e0;
    border-top: 1px solid #8d8787e0;
}

.radio {
    align-self: center;
    margin-right: 20px;
    margin-top: 0;
    font-size: 24px;
    color: #000;
    position: relative;
    right: 0;
    top: 0;
}