<div class="body" style="overflow-y: auto; height: 100vh;">
  <div class="background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tela-inicial" text=""></ion-back-button>
    </ion-buttons>
    
    <div class="title">
      <h1>Cadastro</h1>
    </div>
    <br />

    <!-- Step 04 - Dados de login -->
    <div>
      <div class="area-card">
        <div class="big-card-custom">
          <ion-card-content>
            <ion-row align-items-center>
              <ion-col>
                <div>
                  <img src=" ../../../../assets/imgs/userProfile.png" width="100px" height="100px">
                </div>
              </ion-col>
            </ion-row>
            <form [formGroup]="formGroup">
              <ion-item lines="none">
                <ion-label position="stacked">Nome</ion-label>
                <div class="input-border ">
                  <ion-input type="text" formControlName="nmCliente"  placeholder="Digite seu nome" class="custom"></ion-input>
                </div>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">E-mail</ion-label>
                <div class="input-border ">
                  <ion-input type="email"  formControlName="email" placeholder="Digite o seu e-mail" class="custom"></ion-input>
                </div>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">Senha</ion-label>
                <div class="input-border "> 
                  <ion-input placeholder="Digite a senha"  formControlName="senha" class="custom"></ion-input>
                </div>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">Senha</ion-label>
                <div class="input-border ">
                  <ion-input placeholder="Confirme a senha" formControlName="confirmarSenha" class="custom"></ion-input>
                  <p *ngIf="checkPasswords()" class="errorText">As senhas não são compatíveis</p>
                </div>
              </ion-item>
              <br />
              <div class="area-button">
                <ion-button type="button" [disabled]="!isValid()" (click)="salvar()">CADASTRAR</ion-button>
              </div>
            </form>
            <p>Já tem uma conta? <a [routerLink]="['/cliente/login']">Conecte-se</a></p>
          </ion-card-content>
        </div>
      </div>
    </div>
  </div>
</div>
