
    .loginPage {
        background-color: #FFF8F2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .login-logo {
        justify-content: center;
        vertical-align: center;
        text-align: center;
    }

    .text{
        text-align: left;
    }

    .login-form {
        opacity: none !important;
    }

    h1{
        text-align: center;
        color: #FFC94D;
    }

    .image {
        align-items: center;
    }

    .center{
        align-items: center;
    }

    .card {      
        background: #FFF8F2; 
        align-items: center;
        text-align: center;
        align-self: center;
        height: 50vh;
        width: 80vw;
    }

    .corFundo{
        background: #FFF8F2;
    }

    .button{
        align-items: center;
        align-content: center;
        align-self: center;
        padding-top: 20%;
        padding-left: 1%;
        width: 70vw;
    }
