#custom-banner{
    width: 500px;
}

.custom-paragraph{
    font-size: 20;
    font-family: Ebrown Regular;
}

@font-face {
    font-family: Ebrown Regular;
    src: url(../../../../assets/fonts/Embrown.ttf) format(true-type);
  }

#share-icon{
    align-items: right;
    text-align: right;
}

.card-price {
    color: var(--laranjaLogo);
    font-size: 18px;
    text-align: right;
}

#rifht{
    align-items: right;
}

.card-products {
    width: 100%;
    height: 100px;
    padding-top: 0;
    margin: 0;
    background-color: var(--brancoDisable);
  }

.card-product-itens{
    width: 100%;
    height: 100px;
    background-color: var(--brancoDisable);
}

h1{
    font-size: 20px;
    font-style: Inter;
}

h3{
    color: var(--vermelhoTerroso);
    font-size: 25px;
    padding-left: 5px;
}

.description{
    font-size: 15px;
    text-align: right;
    color: var(--laranjaLogo);
    padding-right: 5px;
}

