<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">

    <div id="title">
      <h3>Novos Pedidos</h3>
    </div>
    <div class="card" *ngFor="let pedido of pedidos">
      <img class="card-image" [src]="pedido.pacote.foto.fotoUrl" alt="Product Image">
      <div class="card-content">
        <div class="card-title">
         {{pedido.pacote.nmPacote}}
          <div class="card-price">
           {{utilsService.priceToString(pedido.frete + pedido.pacote.preco)}}
          </div> 
        </div>
        <p class="card-paragraph"><fa-icon icon="circle-user"></fa-icon> {{ pedido.nmCliente}}</p>
        <p class="card-paragraph"><fa-icon icon="location-dot"></fa-icon> {{ utilsService.getPedidoEndereco(pedido)}}</p>
        <p class="card-paragraph"><fa-icon icon="dollar-sign"></fa-icon> {{ utilsService.getPedidoFormaPagamento(pedido)}}</p>
        <div class="card-buttons">
          <button class="card-button cancel" *ngIf="pedido.cancelado" disabled="true">CANCELADO</button>
          <button class="card-button cancel" *ngIf="canCancel(pedido)" (click)="cancelar(pedido.idPedido)">CANCELAR</button>
          <button class="card-button confirm" *ngIf="canConfirm(pedido)" (click)="confirm(pedido.idPedido)">CONFIRMAR</button>
          <button [routerLink]="['/cliente/detalhes-pedido', pedido.idPedido]" class="card-button-view">
            <fa-icon icon="chevron-right"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content> 