<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Nome do Pacote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div id="custom-banner">
      <div> <img src="../../../../assets/imgs/imagePacote.png"> </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="card-header">
        <div class="card-icon">
          <div class="custom paragraph">
            <div class="custom-paragraph">
              <img src="../../../../assets/icon/empresaLogo.svg" alt="">
              <strong>NOME DA EMPRESA</strong>
              <img class="right" src="../../../../assets/icon/share.svg" alt="">
            </div>

          </div>
        </div>
        <div class="card-price">
          <p class="card-price-font"><strong>R$20,00</strong></p>
        </div>
      </div>

      <div>
        <h3> <strong> Produtos </strong> </h3>
      </div>
      <br/>
      <div class="card-products">

        <div class="card-product-itens">
          <div class="icon-and-text">
            <div class="text">
              <h1> <strong> Produto 1 </strong> </h1>
              <p>Descricão do produto aqui...</p>
            </div>

            <div class="description">
              <p> Val: 12/06/2023 </p>
            </div>
          </div>
        </div>

        <div class="card-product-itens">
          <div class="icon-and-text">
            <div class="text">
              <h1> <strong> Produto 2 </strong> </h1>
              <p>Descricão do produto aqui...</p>
            </div>

            <div class="description">
              <p> Val: 12/06/2023 </p>
            </div>
          </div>
        </div>

        <div class="card-product-itens">
          <div class="icon-and-text">
            <div class="text">
              <h1> <strong> Produto 3 </strong> </h1>
              <p>Descricão do produto aqui...</p>
            </div>

            <div class="description">
              <p> Val: 12/06/2023 </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


</ion-content>