#custom-banner{
    width: 100vw;
    max-width: 400px;
    max-height: 200px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.custom-paragraph{
    font-size: 20;
    font-family: Embrown Regular;
} 
  
#share-icon{
    align-items: right;
    text-align: right;
}

.card-price {
   color: var(--laranjaLogo);
    font-size: 18px;
    text-align: right;
}

.card-price-font{
    font-family: Inter SemiBold;
}

.right {
    width:30px;
    float: right;
}

.card-product-itens{
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    background-color: var(--brancoDisable);
}

h1{
    font-size: 20px;
    font-style: Inter Bold;
}

h3{
    color: var(--vermelhoTerroso);
    font-size: 25px;
    padding-left: 5px;
}

.description{
    font-size: 15px;
    text-align: right;
    color: var(--laranjaLogo);
    padding-right: 5px;
}

.description-font{
    font-family: Inter SemiBold;
}

.card {
    background-color: white;
    width: 100vw;
    max-width: 400px;
    position: relative;
    top: -10px;
    min-height: 100vh;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
