#custom-banner {
    width: 100vw;
    max-width: 400px;
    max-height: 200px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.custom-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-price {
    color: var(--laranjaLogo);
    font-size: 22px;
    text-align: right;
}

.card-price-font {
    font-family: Inter SemiBold;
}

.right {
    width: 30px;
    float: right;
}

.card-product-itens {
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    background-color: var(--brancoDisable);
}

h1 {
    font-size: 20px;
    font-style: Inter Bold;
}

h3 {
    color: var(--vermelhoTerroso);
    font-size: 25px;
    padding-left: 5px;
}

.description {
    font-size: 15px;
    text-align: right;
    color: var(--laranjaLogo);
    padding-right: 5px;
}

.description-font {
    font-family: Inter SemiBold;
}

.card {
    background-color: white;
    width: 100vw;
    max-width: 400px;
    position: relative;
    top: -10px;
    min-height: 100vh;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}


.container-toolbar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    background-color: #F1E9E9;
}

.area-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.area-button ion-button {
  --background: var(--vermelhoTerroso);
  --background-hover: var(--vermelhoDisabled);
  --background-activated: var(--vermelhoDisabled);
  --background-focused: var(--vermelhoDisabled);
  --color: #ffffff;
  --border-radius: 5px;
  margin-top: 3vh;
  width: 70%; 
}
