<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Meus Dados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="body">

    <div>
      <div>
        <img src="assets/userProfile.png" width="100px" height="100px">
      </div>

      <div>
        <ion-list>
          <ion-item class="rounded-input">
            <ion-label position="stacked">Nome</ion-label>
            <ion-input fill="outline" placeholder="nome" readonly></ion-input>
          </ion-item>
        </ion-list>
      </div>
      
      <div>
        <ion-list>
          <ion-item class="rounded-input">
            <ion-label position="stacked">Email</ion-label>
            <ion-input fill="outline" placeholder="email" readonly></ion-input>
          </ion-item>
        </ion-list>
      </div>
      
      <div>
        <ion-list>
          <ion-item class="rounded-input">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input fill="outline" placeholder="senha" readonly></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </div>


</ion-content>