<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Editar Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empresa/perfil" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <div class="body">
      <div class="card-custom">
        <ion-row align-items-center>
          <ion-col>
            <div class="circular-image">
              <img *ngIf="foto.fotoUrl" [src]="foto.fotoUrl" width="100px" height="100px">
              <img *ngIf="!foto.fotoUrl" src="assets/imgs/shop.png" width="100px" height="100px">
            </div>
          </ion-col>
        </ion-row>
          <form [formGroup]="formGroup">
            <ion-item lines="none">
              <ion-label position="stacked">Nome</ion-label>
              <div class="input-border ">
                <ion-input formControlName="nmEmpresa" type="text" placeholder="Digite o nome da empresa"
                  class="custom"></ion-input>
              </div>
              <div *ngIf="formGroup.get('nmEmpresa')?.errors?.['required'] && formGroup.get('nmEmpresa')?.touched" class="error-message">
                Nome é obrigatório.
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">CNPJ</ion-label>
              <div class="input-border ">
                <ion-input formControlName="cnpj" mask="00.000.000/0000-00"  class="custom" readonly></ion-input>
              </div>
              <div *ngIf="formGroup.get('cnpj')?.errors?.['required'] && formGroup.get('cnpj')?.touched" class="error-message">
                CNPJ é obrigatório.
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Tel</ion-label>
              <div class="input-border ">
                <ion-input formControlName="telefone" placeholder="Digite o telefone da empresa"
                  class="custom"></ion-input>
              </div>
              <div *ngIf="formGroup.get('telefone')?.errors?.['required'] && formGroup.get('telefone')?.touched" class="error-message">
                Telefone é obrigatório.
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">E-mail</ion-label>
              <div class="input-border ">
                <ion-input formControlName="email" readonly
                  class="custom"></ion-input>
              </div>
              <div *ngIf="formGroup.get('email')?.errors?.['required'] && formGroup.get('email')?.touched" class="error-message">
                Email é obrigatório.
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Foto/logo</ion-label>
              <div class="input-border ">
                <input type="file" class="custom" (change)="onImageSelected($event)" />
              </div>
            </ion-item>
            <br />
            <div class="area-button">
              <ion-button type="button" [disabled]="!isValid()" (click)="salvar()">SALVAR</ion-button>
            </div>
          </form>
      </div>
  </div>
