<div class="body">
  <div class="background">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tela-inicial" text=""></ion-back-button>
    </ion-buttons>
    <div class="title">
      <h1>Login</h1>
    </div>

    <div class="area-card">
      <div class="card-custom">
        <ion-card-content>
          <ion-row align-items-center>
            <ion-col>
              <div class="image">
                <img src="assets/imgs/shop.png" width="100px" height="100px">
              </div>
            </ion-col>
          </ion-row>
          <form [formGroup]="formGroup" (ngSubmit)="salvar()">
            <ion-item lines="none">
              <ion-label position="stacked">Email</ion-label>
              <div class="input-border ">
                <ion-input formControlName="email" type="email" placeholder="Digite swu e-mail" class="custom"></ion-input>
              </div>
            </ion-item>
            <br />
            <ion-item lines="none">
              <ion-label position="stacked">Senha</ion-label>
              <div class="input-border ">
                <ion-input formControlName="senha" placeholder="Digite sua senha" class="custom"></ion-input>
              </div>
            </ion-item>
            <br />
            <div class="area-button">
              <ion-button [disabled]="!formGroup.valid" type="submit">Entrar</ion-button>
            </div>
          </form>
          <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
        </ion-card-content>
      </div>
    </div>

  </div>
</div>