<ion-content>

  <h3>Novo Endereço</h3>
  <form [formGroup]="formGroup">
    <div class="row">
      <ion-item lines="none" class="col-3">
        <ion-label position="stacked">CEP</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="cep" class="custom"></ion-input>
        </div>
        <div *ngIf="formGroup.get('cep')?.errors?.['required'] && formGroup.get('cep')?.touched" class="error-message">
          CEP é obrigatório.
        </div>
      </ion-item>
      <ion-item lines="none" class="col-2">
        <ion-label position="stacked">UF</ion-label>
        <div class="input-border ">
          <ion-input formControlName="uf" class="custom" readonly></ion-input>
        </div>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none" class="col-5">
        <ion-label position="stacked">Bairro</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="bairro" class="custom" readonly></ion-input>
        </div>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none" class="col-5">
        <ion-label position="stacked">Cidade</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="cidade" class="custom" readonly></ion-input>
        </div>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none" class="col-3">
        <ion-label position="stacked">Rua</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="rua" class="custom" readonly></ion-input>
        </div>
      </ion-item>
      <ion-item lines="none" class="col-2">
        <ion-label position="stacked">Nº</ion-label>
        <div class="input-border ">
          <ion-input type="number" formControlName="numero" class="custom"></ion-input>
        </div>
        <div *ngIf="formGroup.get('numero')?.errors?.['required'] && formGroup.get('numero')?.touched" class="error-message">
          Nº é obrigatório.
        </div>
      </ion-item>
    </div>

    <!-- linha 05 -->
    <div class="row">
      <ion-item lines="none" class="col-5">
        <ion-label position="stacked">Complemento</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="complemento" class="custom"></ion-input>
        </div>
      </ion-item>
    </div>

    <!-- linha 06 -->
    <div class="row">
      <ion-item lines="none" class="col-5">
        <ion-label position="stacked">Apelido</ion-label>
        <div class="input-border ">
          <ion-input type="text" formControlName="apelido" class="custom"></ion-input>
        </div>
      </ion-item>
    </div>
    <br />
    <div class="area-button">
      <ion-button type="submit" [disabled]="!isValid()" (click)="salvar()">SALVAR</ion-button>
    </div>
  </form>

</ion-content>