<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar >
    <div class="container">
      <div class="item">
        <fa-icon class="custom-icon" icon="home"></fa-icon>
        <p>Home</p>
      </div>
      <div class="item">
        <fa-icon class="custom-icon" icon="list"></fa-icon>
        <p>Pedidos</p>
      </div>
      <div class="item">
        <fa-icon class="custom-icon" icon="bag-shopping"></fa-icon>
        <p>Pacotes</p>
      </div>
      <div class="item">
        <fa-icon class="custom-icon" icon="shop"></fa-icon>
        <p>Conta</p>
      </div>
    </div>

  </ion-toolbar>
</ion-footer>

