.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 14vh;
}

.custom-icon {
  font-size: 24px;
}

.item{
  padding-top: 4vh;
  padding-left: 6vw;
  padding-right: 6vw;
  text-align: center;
  align-items: center;
  font-size: 14px;
  color: #9098B1;
}

.custom-toolbar{
  color: #EA852F;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 20px;
}
