<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Endereços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="body">
    <div class="background">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
          <div>
            <p class="card-paragraph">
              Rua, n°, Bairro, Cidade - UF/Complemento
            </p>
          </div>
        </div> 
      </div>
  
     
  
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
  
          <div>
            <p class="card-paragraph">Rua, n°, Bairro, Cidade - UF/Complemento</p>
          </div>
        </div> 
      </div>
  
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
  
          <div>
            <p class="card-paragraph">Rua, n°, Bairro, Cidade - UF/Complemento</p>
          </div>
        </div> 
      </div>
  
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
  
          <div>
            <p class="card-paragraph">Rua, n°, Bairro, Cidade - UF/Complemento</p>
          </div>
        </div> 
      </div>
  
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
  
          <div>
            <p class="card-paragraph">Rua, n°, Bairro, Cidade - UF/Complemento</p>
          </div>
        </div> 
      </div>
  
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Apelido Name
            <div class="card-icon">
              <a routerLink="/cliente/endereco/novo-endereco">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
  
          <div>
            <p class="card-paragraph">Rua, n°, Bairro, Cidade - UF/Complemento</p>
          </div>
        </div> 
      </div>  
    </div>
  </div>
  
  


</ion-content>
