<ion-header>
  <ion-toolbar class="custom-toolbar-top">
    <ion-title>Endereços</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cliente/perfil" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="background">

      <div class="card" *ngFor="let endereco of enderecos">
        <div class="card-content">
          <div class="card-title">
           {{endereco.apelido}}
            <div class="card-icon">
              <a [routerLink]="['/cliente/editar-endereco/', endereco.idEndereco]">
                <img src="../../../../../assets/icon/iconLapis.svg" alt="">
              </a>
            </div>
          </div>
          <div>
            <p class="card-paragraph">
             {{enderecoToString(endereco)}}
            </p>
          </div>
        </div> 
      </div>  
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/cliente/novo-endereco">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
