.area-card {
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-card-custom{
    transition: background-color 0.3s;
    background-color: white;
    width: 75vw;
    min-height: 55vh;
    max-height: 200vh;
    margin-bottom: 3vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .background {
    background-color: var(--brancoDisable);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }

  .row {
    display: flex;
  }

  .area-button {
    width: 100%;
  }

  .input-border {
    border: 1px solid #2D3325;
    border-radius: 5px;
    width: 100%;
  }

    
  ion-label{
    padding-bottom: 1px;
  }

  ion-button {
    --background: var(--verdeSucesso);
    --background-hover: #BF8D87;
    --background-activated: #BF8D87;
    --background-focused: #BF8D87;
    --color: #ffffff;
    --border-radius: 5px;
    width: 90%;
  }

    
  ion-input.custom {
    --background: transparent;
    --color: #2D3325;
    --placeholder-color: #2D3325;
    --placeholder-opacity: 0.8;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    --border: 2px solid #2D3325 !important;
  }